@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
body{
    font-family: 'Libre Franklin', sans-serif;
}

h1{
    text-align: center;
    margin: 0;
}

table,
td{
    font-family: 'Libre Franklin', sans-serif;
}
th{
    text-align: start;
}

.basic-container{
    display: flex;
    justify-content: center;
}

.basic-button{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: medium;
    background: #7fd60d;
    cursor: pointer;
    border: None;
    border-radius: 25px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.07);
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    overflow-x: auto;
  }
  
  .communes-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .communes-table th,
  .communes-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .communes-table th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  
  @media only screen and (max-width: 768px) {
    .communes-table {
      font-size: 0.8em;
    }
  }

  .pagination{
    text-align: center;
  }